xml/actividades.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="actividad" type="tipoactividad" />


  <xs:complexType name="tipoactividad">
  <xs:sequence>
  <xs:element name="articulo" type="tipoarticulo" minOccurs="1" maxOccurs="unbounded"/>
  
  </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="tipoarticulo">
        <xs:sequence>
            <xs:element name="tipo" type="xs:string"/>
            <xs:element name="titulo" type="xs:string"/>
            <xs:element name="descripcion" type="xs:string" />
          
       </xs:sequence>
      </xs:complexType>
      
      
</xs:schema>
